<footer class="nsu-footer">
  <div class="nsu-footer__grid">
    <div class="nsu-footer__col">
      <h4>NSU</h4>
      <a href="https://www.mynsu.co.uk/about">About us</a>
      <a href="https://www.mynsu.co.uk/officers">Our officers</a>
      <a href="https://www.mynsu.co.uk/governance">Trustees &amp; governance</a>
      <a href="https://www.mynsu.co.uk/jobs">Work for NSU</a>
    </div>
    <div class="nsu-footer__col">
      <h4>Get involved</h4>
      <a href="https://www.mynsu.co.uk/societies">Societies &amp; sports</a>
      <a href="https://www.mynsu.co.uk/volunteering">Volunteering</a>
      <a href="https://www.mynsu.co.uk/events">Events</a>
      <a href="https://www.mynsu.co.uk/campaigns">Make a change</a>
    </div>
    <div class="nsu-footer__col">
      <h4>Get in touch</h4>
      <a href="https://www.mynsu.co.uk/contact">Contact us</a>
      <a href="https://www.mynsu.co.uk/find-us">Find us on campus</a>
      <a href="https://www.instagram.com/northumbriasu">Instagram</a>
      <a href="https://www.tiktok.com/@northumbriasu">TikTok</a>
    </div>
  </div>
  <div class="nsu-footer__meta">
    <span class="nsu-footer__brand">Northumbria Students' Union</span>
    <span>© 2026 NSU · A registered charity</span>
  </div>
</footer>
